:root {
    --green-1: #0B7572;
    --black-1: #363738;
    --gray-1: #6B6B6C;
    --gray-2: #D7D7DD;
    --gray-3: #E9E9EC;
    --gray-4: #C4C4C4;
    --yellow-1: #FFCE50;
}

.main {
    overflow: hidden;
}

.top {
    margin-bottom: 100px;
}

.top__inner {
    display: flex;
    justify-content: space-between;
}

.top__column {
    padding-top: 110px;
    height: 100%;
    width: 832px;
    height: 787px;
}

.top__column--bg {
    z-index: -1;
    pointer-events: none;
    position: relative;
}

.top__column--bg::after {
    content: "";
    position: absolute;
    left: 136px;
    top: 0;
    right: -100vw;
    bottom: 0;
    background-color: var(--green-1);
    z-index: -1;
}

.top__track-img {
    border-radius: 20px;
}

.top__title {
    max-width: 610px;
    font-family: "Exo 2", sans-serif;
    font-size: 52px;
    line-height: 125%;
    color: var(--black-1);
    margin-bottom: 40px;
    padding-top: 81px;
}

.top__subtitle {
    max-width: 525px;
    margin-bottom: 40px;
    color: var(--gray-1);
}

.top__link {
    font-weight: 700;
    display: inline-block;
    border-bottom: 1px solid var(--yellow-1);
}

.top__list {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 340px;
    border: 1px solid var(--gray-2);
    border-radius: 20px;
    box-shadow: 0 4px 20px 0 rgb(0, 0, 0, 0.15);
    padding: 40px 0 56px 0;
    margin-top: -106px;
    pointer-events: none;
}

.top__item {
    display: flex;
    flex-direction: column;
    width: 333px;
    border-right: 1px solid var(--gray-2);
}

.top__item:last-child {
    border: none;
}

.top__list-title {
    max-width: 228px;
    margin-block: 24px 16px;
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: var(--black-1);
}

.top__list-subtitle {
    max-width: 225px;
    color: var(--gray-1);
}

/* ====================== */
.question {
    margin-bottom: 100px;
}

.question__title {
    margin-bottom: 32px;
}

.question__subtitle {
    margin-bottom: 40px;
    max-width: 667px;
}

.question__inner {
    display: flex;
    justify-content: space-between;
}

.question__form {
    display: flex;
    flex-direction: column;
    gap: 16px 0;
}

.question__wrap {}

.question__wrap-label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 32px;
    width: 687px;
    height: 176px;
    box-shadow: 0 3px 15px 0 rgb(0, 0, 0, 0.15);
    border-radius: 10px;
    position: relative;
}

.question__wrap-label::after {
    content: "";
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    background-image: url(../assets/img/question-1.png);
    width: 193px;
    height: 62px;
}

.question__wrap-label--active {
    border: 1px solid var(--green-1);
}

.question__custom-radio {
    width: 24px;
    height: 24px;
    border: 1px solid #cbcbcb;
    box-shadow: inset 0px 4px 4px 0 rgb(0, 0, 0, 0.15);
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question__wrap-input {
    position: absolute;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
}

.question__wrap-input:checked+.question__custom-radio::before {
    display: inline-block;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--green-1);
}

.question__box {}

.question__box-title {
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: var(--black-1);
    margin-bottom: 24px;
}

.question__box-description {
    max-width: 466px;
}

.question__column {}

.question__column-text {
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: var(--black-1);
    margin-bottom: 28px;
}

.question__column-counter {
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    color: var(--gray-1);
    padding-bottom: 39px;
    border-bottom: 3px solid var(--yellow-1);
}

.question__column-span {
    font-size: 54px;
    color: var(--black-1);
}


/* =========================== */

.profitable {
    margin-bottom: 120px;
}

.profitable__title-wrap {
    height: 453px;
    position: relative;
    background-repeat: no-repeat;
    background: url(../assets/img/profitable-2.jpg);
    background-position: right;
    background-size: cover;
    margin-bottom: 72px;
}

.profitable__title-wrap::before {
    content: "";
    position: absolute;
    left: -50vw;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--green-1);
    z-index: -1;
}

.profitable__title {
    padding-top: 160px;
    color: white;
    max-width: 362px;
}

.profitable__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 62px 0;
}

.profitable__item {
    flex-basis: 447px;
    display: flex;
    align-items: center;
    gap: 0 40px;
}

.profitable__item-wrap {
    background-color: var(--gray-3);
    border-radius: 50%;
    min-height: 80px;
    min-width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ========================== */

.portfolio {
    margin-bottom: 120px;
}

.portfolio__title {
    margin-bottom: 32px;
}

.portfolio__subtitle {
    max-width: 462px;
    margin-bottom: 56px;
}

.portfolio__slider {
    overflow: hidden;
}

.portfolio__window {}

.portfolio__list {
    display: flex;
    gap: 0 30px;
    align-items: center;
    margin-bottom: 56px;
    transition: all 0.3s;
}

.portfolio__item {
    flex-basis: 393px;
    border-radius: 10px;
    box-shadow: 0 4px 15px 0px rgb(0, 0, 0, 0.15);
}

.portfolio__item-img {
    width: 393px;
    height: 247px;
    margin-bottom: 24px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.portfolio__box {
    margin-left: 32px;
}

.portfolio__item-title {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 135%;
    color: var(--black-1);
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    height: 21px;
}

.portfolio__item-text {
    max-width: 291px;
    margin-bottom: 32px;
    height: 41px;
}

.portfolio__item-price {
    display: inline-block;
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 135%;
    color: var(--black-1);
    border-bottom: 3px solid var(--yellow-1);
    padding-bottom: 5px;
    margin-bottom: 32px;
}

.portfolio__slider-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio__slider-dot {
    cursor: pointer;
}

.portfolio__slider-dot.portfolio__slider-dot--active {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid var(--green-1);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio__slider-span {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--gray-3);
}

.portfolio__slider-dot+.portfolio__slider-dot {
    margin-left: 26px;
}

.portfolio__slider-span.portfolio__slider-span--active {
    background-color: var(--green-1);
}


/* =================== */

.clients {
    margin-bottom: 120px;
}

.clients__inner {
    display: flex;
    background-color: var(--green-1);
    padding-top: 85px;
    padding: 85px 67px 85px 0;

}

.clients__title {
    flex-basis: 477px;
    color: white;
}

.clients__box {
    background-color: white;
    padding-inline: 32px;
}

.clients__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-2);
    padding-bottom: 32px;
    margin-bottom: 32px;
    margin-top: 28px;
}

.clients__box-text {
    flex-basis: 274px;
    font-size: 11px;
    line-height: 125%;
}

.clients__table {
    border-spacing: 0px;
}

.clietns__thead {
    height: 45px;
    background-color: var(--green-1);
    margin-bottom: 8px;
}

.clients__tr {}

.clients__th+.clients__th {
    border-left: 1px solid rgb(0, 0, 0, 0.15);
}

.clients__th {
    color: white;
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
}

.clients__tbody {}

.clients__tbody-tr {
    margin-bottom: 24px;
}

.clients__tbody-td {}


/* ======================== */

.delivery {
    margin-bottom: 120px;
}

.delivery__title {
    margin-bottom: 48px;
}

.delivery__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px 0;
}

.delivery__item {
    display: flex;
    align-items: center;
}

.delivery__numerate {
    position: relative;
    z-index: 2;
    width: 108px;
    height: 108px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -50px;
    clip-path: circle(50% at 50% 50%);
    margin-top: -10px;
}

.delivery__numerate-span {
    width: 68px;
    height: 68px;
    background-color: var(--green-1);
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    font-size: 38px;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delivery__box {
    position: relative;
    z-index: 1;
    display: flex;
    gap: 0 56px;
    align-items: center;
    padding: 32px 0 32px 92px;
    width: 1183px;
    filter: drop-shadow(0px 4px 15px rgb(0, 0, 0, 0.15));
    background-image: url(../assets/img/delivery-4.svg);
    border-radius: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 245px;

}

.delivery__box-img {
    width: 331px;
    height: 181px;
    border-radius: 4px;
}

.delivery__box-wrap {}

.delivery__box-title {
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 125%;
    color: var(--black-1);
    margin-bottom: 48px;
    position: relative;
}

.delivery__box-title::after {
    content: "";
    position: absolute;
    bottom: -24px;
    display: block;
    width: 86px;
    height: 3px;
    background-color: var(--yellow-1);
}

.delivery__box-text {
    max-width: 568px;
}


/*  ======================  */

.sponsor {
    margin-bottom: 130px;
}

.sponsor__title {
    margin-bottom: 90px;
}

.sponsor__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 80px 67px;
}

.sponsor__item {
    padding-left: 73px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 182px;
}

.sponsor__item+.sponsor__item {
    border-left: 1px solid var(--gray-2);
}

.sponsor__item:nth-child(5) {
    border: none;
}

.sponsor__item-img {}

.sponsor__item-box {
    text-align: center;
}

.sponsor__item-title {
    font-size: 20px;
    line-height: 135%;
    color: var(--black-1);
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    margin-bottom: 14px;
}

.sponsor__item-text {
    font-size: 14px;
}

/* ================= */

.team {
    margin-bottom: 130px;
}

.team__title {
    margin-bottom: 72px;
}

.team__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px 30px;
}

.team__item {
    width: 605px;
    height: 210px;
    display: flex;
    box-shadow: 0px 4px 15px 0 rgb(0, 0, 0, 0.15);
    border-radius: 10px;
}

.team__color {
    width: 51px;
    height: 100%;
    background-color: var(--green-1);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.team__content {
    padding-left: 32px;
    display: flex;
    align-items: center;
    gap: 0 40px;
}

.team__item-box {}

.team__item-img {
    border-radius: 50%;
    width: 138px;
    height: 138px;
}

.team__item-title {
    margin-bottom: 12px;
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: var(--black-1);
}

.team__item-subtitle {
    margin-bottom: 48px;
    font-size: 14px;
    position: relative;
}

.team__item-subtitle::after {
    content: "";
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 86px;
    height: 3px;
    background-color: var(--yellow-1);
}

.team__wrap {
    display: flex;
    gap: 0 20px;
    align-items: center;
    cursor: pointer;
}

/*  ==============================   */

.contact {
    margin-bottom: 140px;
}

.contact__title {
    margin-bottom: 94px;
}

.contact__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.contact__links-box {
    width: auto;
    display: flex;
    gap: 44px 0;
    flex-direction: column;
}

.contact__links {
    display: flex;
    align-items: center;
}

.contact__links-img {
    margin-right: 32px;
}

.contact__box {
    max-width: 188px;
}

.contact__box-title {
    font-size: 14px;
    margin-bottom: 8px;

}

.contact__box__link {
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: var(--black-1);
}

.contact__info {
    width: 794px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    gap: 32px 0;
    padding: 40px 72px 56px 48px;
    border-radius: 5px;
}

.contact__info-box {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: 1px solid #E9EAF2;
}

.contact__info-box:last-child {
    border: none;
}

.contact__info-name {}

.contact__info-text {
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: var(--black-1);
    margin-left: 195px;
}

.contact__info-text:nth-child(1) {
    margin-left: 56px;
}

/* ============================= */

.form {
    margin-bottom: 120px;
    color: white;
}

.form__inner {
    display: flex;
    background-image: url(../assets/img/form-1.jpg);
    width: 100%;
    height: 730px;
    background-size: contain;
    background-position: right;
}

.form__content {
    background-color: var(--green-1);
    width: 700px;
    padding: 56px 64px 0 56px;
}

.form__title {
    margin-bottom: 72px;
    color: white;
}

.form__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form__textarea {
    background-color: transparent;
    min-height: 220px;
    margin-bottom: 56px;
    width: 579px;
    max-width: 579px;
}

.form__label-file {}

.form__label-file+.form__label-file {
    margin-top: 32px;
}

.form__img {}

.form__submit {
    margin-top: 66px;
    color: var(--green-1);
    background-color: white;
    border: none;
    border-radius: 4px;
    width: 206px;
    height: 50px;
    cursor: pointer;
}


/* ===================== */

.task {
    margin-bottom: 100px;
}

.task__title {
    margin-bottom: 48px;
}

.task__inner {
    background-color: #f9f9f9;
    padding: 48px 110px 48px 56px;
}

.task__box {
    margin-bottom: 40px;
}

.task__box-title {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 135%;
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
}

.task__box-text {
    max-width: 1074px;
}

.task__wrap-task {
    margin-bottom: 36px;
}

.task__box-title {
    margin-bottom: 16px;
    line-height: 135%;
    font-size: 20px;
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
}

.task__link-file {
    color: inherit;
    text-decoration: underline;
}

.task__photos {
    margin-bottom: 80px;
}

.task__photos-title {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 135%;
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
}

.task__photos-list {
    display: flex;
    align-items: center;
    gap: 0 16px;
}

.task__photos-item {
    display: flex;
    flex-direction: column;
    gap: 16px 0;
}

.task__photos-img {
    width: 175px;
    height: 136px;
}

.task__photos-link {
    text-decoration: underline;
}

.task__btn {
    background-color: var(--green-1);
    width: 248px;
    height: 50px;
    color: white;
    border: none;
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
}



/* ========================= */

.about-work {
    margin-bottom: 120px;
}

.about-work___title {
    margin-bottom: 32px;
    max-width: 602px;
}

.about-work__text {
    margin-bottom: 40px;
    max-width: 848px;
}

.about-work__video {
    background-image: url("../assets/img/abot-work-1.jpg");
    width: 1240px;
    height: 621px;
}

.about-work__video__inner {
    position: relative;
}

.about-work__play-btn {
    width: 108px;
    height: 108px;
    background-color: #fff;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    right: 50%;
    border: none;
    border-radius: 50%;
    transform: translateX(50%) translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.about-work__play {}